@model ASPMVC_Day2_PassingData.Models.Product 

@using (Html.BeginForm())
{

    //Weakly Typed Helpers - BAD !!!!
        <div>
            @Html.Label("Name","Name:")
            @Html.TextBox("Name")
        </div>
        <div>
            @Html.Label("Price", "Price:")
            @Html.TextBox("Price")
        </div>

        <input type="submit" value="Create Product Weakly Bound" />

 

}
