@*This will cast the model type to the IndexViewModel so when I use Model in foreach it will be strongly typed.*@

@model ShoppingList.Models.ShoppingCartViewModel


@{
    var TotalPrice = 0m;
}


<h2>No Person Specified </h2>

